<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 align="center">Routes !!!</h3>  

      <nav class="nav nav-tabs">
        <li class="active" role="presentation">
          <a href="">Home</a>
        </li>
        <li role="presentation">
          <a href="">Servers</a>
        </li>
        <li role="presentation">
          <a href="">Users</a>
        </li>
      </nav>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-home></app-home>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-users></app-users>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-servers></app-servers>
    </div>
  </div>

</div>
