<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 align="center">Routes !!!</h3>  

      <nav class="nav nav-tabs">
        <li class="nav-link" role="presentation">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li role="presentation" class="nav-link">
          <a routerLink="/servers" routerLinkActive="active">Servers</a>
        </li>
        <li role="presentation"  class="nav-link">
          <a routerLink="/users" routerLinkActive="active">Users</a>
        </li>
      </nav>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
